model {{pascal}} {
  id        String   @id @default(uuid())
  title     String
  body      String   @default("")
  authorId  String
  createdAt DateTime @default(now())
  updatedAt DateTime @updatedAt
}
